<%= stylesheet_link_tag 'vinyl_index' %>

<h1 class="text-center">Collections</h1>

<div class="container">
  <div class="row">

  <div class="mx-auto my-3">
    <%= link_to "+ Create New Collection", "/collections/new", class: 'btn btn-primary' %>
  </div>


  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Collection</th>
        <th>Vinyls</th>
        <th></th>
      </tr>
    </thead>

    <tbody>  
      <% Collection.all.order('name').each do |collection| %>
      <tr>
        <td><%= link_to collection.name, "/collections/#{collection.id}" %>
        </td>

        <td><ul>
          <% collection.vinyls.order('year').first(5).each do |vinyl| %>
            <li><i><%= vinyl.title %></i> 
              <% if vinyl.year.present? %>
                (<%= vinyl.year %>)
              <% end %>
            </li>
          <% end %>
        </ul></td>

        <td>
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/collections/<%=collection.id%>/edit">Edit</a>
              <a class="dropdown-item" href="/collections/<%=collection.id%>" data-method="delete" data-confirm="Are you sure? All the records of your vinyls will be removed as well.">Delete</a>
            </div>
          </div>
        </td>


      </tr>
      <% end %>
    </tbody>
  </table>

  </div>
  

  </div>
</div>

