<%= stylesheet_link_tag 'vinyl_index' %>

<h1 class="text-center">Vinyls</h1>

<div class="row">

  <!-- Add New Vinyl (only for logged-in users) -->
  <% if session[:user_id] != nil %>
  <div class="col-sm-3 my-3 text-center">
    <div class="album_container">
        <div class="overlay">
          <div class="album_title" class="font-italic">ADD NEW VINYL</div>
        </div>
        <%= link_to image_tag("add_new_vinyl.png", :class => "img-fluid circular_image"), "/vinyls/new" %>
    </div>
    <br><p><%= link_to "+ Add New Vinyl", "/vinyls/new", class: "btn btn-primary"%></p>
  </div>
  <% end %>

  <!-- Display All Vinyls -->
  <% @vinyls.each do |vinyl| %>

    <div class="col-sm-3 my-3 text-center">
      <% image_url = (vinyl.image_url.present? ? vinyl.image_url : 'na.png') %>

      <div class="album_container">
      	<div class="overlay">
        	<div class="album_title"><%= vinyl.title %></div>
        </div>
        <%= link_to image_tag(image_url, :class => "img-fluid circular_image"), "/vinyls/#{vinyl.id}" %>
    	</div>
		
      <br><p><i><%= vinyl.title %></i> (<%= vinyl.year %>)<br>
        <%= link_to vinyl.artist.name, "/artists/#{vinyl.artist.id}" %>
    	</p>

      <p>
        <!-- Can add to collections, edit/delete vinyls only if user is logged in -->
        <% if session[:user_id] != nil %>

        <div class="row">
          <div class="col-sm-8 offset-sm-2" style="padding:0">
            <%= form_tag "/vinyls/add-to-collections" do %>  <!-- post to vinyls, call create -->
              <select name="collection_id" class="form-control" onchange="this.form.submit()">
                <option value="" disabled selected>Add to Collection</option>
                <% #if not @user.nil? %>
                <% @user.collections.order('name').each do |collection|  %>
                  <option value="<%= collection.id %>">
                  <%= collection.name %>
                  </option>
                <% #end %>
                <% end %>
              </select>
              <%= hidden_field_tag "vinyl_id", vinyl.id %>
          </div>


        </div>
        <% end %>
      </p>

      <p>
        <div class="btn btn-outline-secondary btn-sm">
        <%= link_to "Edit", "/vinyls/#{vinyl.id}/edit" %>
        </div>

        <div class="btn btn-outline-danger btn-sm">
        <%= link_to "Delete", "/vinyls/#{vinyl.id}", method: "delete", data: { confirm: "Are you sure? The vinyl will be deleted from all the collections that hold it." } %>
        </div>
      </p>

      <% end %>

    </div>
  <% end %>

</div>



