<%= stylesheet_link_tag 'vinyl_index' %>

<h1>Vinyls</h1>

<div class="row">

  <div class="col-sm-3 my-3">
    <% #link_to image_tag("add_new.png"), "/movies/new" %>
  </div>

  <% Vinyl.all.order('created_at desc').each do |vinyl| %>

    <div class="col-sm-3 my-3 text-center">

      <% image_url = (vinyl.image_url.present? ? vinyl.image_url : '/assets/images/na.png') %>

    <div class="album_container">
    	<div class="overlay">
      	<div class="album_title"><%= vinyl.title %></div>
      </div>
      <%= link_to image_tag(image_url, :class => "img-fluid circular_image"), "/vinyls/#{vinyl.id}" %>
  	</div>
		<br><p>
    		<%= vinyl.artist.name %>
    	</p>
      <p>
        <%= link_to "[Delete]", "/vinyls/#{vinyl.id}", method: "delete" %>
        <%= link_to "[Edit]", "/vinyls/#{vinyl.id}/edit" %>
      </p>
    </div>

  <% end %>

</div>
