<%= stylesheet_link_tag 'vinyl_index' %>

<br>

<h1 class="text-center">Vinyls</h1>
<br>

<div class="row">
  <div class="col-sm-6 offset-sm-3 text-center">
    
    <div class="row">
      <div class="col-sm-6 offset-3 text-center">
        <% image_url = (@vinyl.image_url.present? ? @vinyl.image_url : 'na.png') %>
        <img src="<%= image_url %>" class="img-fluid">
<!--         <img src="<%= @vinyl.image_url %>" class="img-fluid"></a>
 -->      </div>
    </div>

    <p>
    <h2><%= @vinyl.title %> (<%= @vinyl.year %>)</h2>
    <% if @vinyl.artist.present? %>
      <h3 class="text-muted">
        <%= link_to @vinyl.artist.name, "/artists/#{@vinyl.artist.id}" %></h3>
      <h5 class="text-muted">
        <% if @vinyl.runtime.present? %>
          <%= "Runtime: #{@vinyl.runtime} min" %>
        <% end %>
      </h5>
    </p>
    <% end %>

  </div>
</div>


  <% if session[:user_id] != nil %>
    <% @user = User.find_by(id: session[:user_id]) %>

    <div class="row">
      <div class="col-sm-4 offset-sm-3" style="padding:0">
        <%= form_tag "/vinyls/add-to-collections" do %>  
          <select name="collection_id" class="form-control" onchange="this.form.submit()">
            <option value="" disabled selected>Add to Collection</option>
            <% @user.collections.order('name').each do |collection|  %>
              <option value="<%= collection.id %>">
              <%= collection.name %>
              </option>
            <% end %>
          </select>
          <%= hidden_field_tag "vinyl_id", @vinyl.id %>
        <% end %>
      </div>

      <div class="col-sm-1">
        <div class="btn btn-outline-secondary btn-sm">
        <%= link_to "Edit", "/vinyls/#{@vinyl.id}/edit" %>
        </div>
      </div>

      <div class="col-sm-1" style="padding:0">
        <div class="btn btn-outline-danger btn-sm">
        <%= link_to "Delete", "/vinyls/#{@vinyl.id}", method: "delete", data: { confirm: "Are you sure? The vinyl will be deleted from all the collections that hold it." } %>
        </div>
      </div>
    </div>

  <% end %>

  <br>

<!-- If logged in, display both recordings by artist, and collections containing the vinyl -->

<div class="row">
  <p>
  <% if session[:user_id] != nil %>
    <div class="col-sm-5 offset-sm-1">
  <% else %>
    <div class="col-sm-6 offset-sm-3">
  <% end %>

    <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#multiCollapseArtist" aria-expanded="false" aria-controls="multiCollapseArtist">Recordings By This Artist</button>
  </div>

  <% if session[:user_id] != nil %>
  <div class="col-sm-5">
    <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#multiCollapseCollection" aria-expanded="false" aria-controls="multiCollapseCollection">In These Collections</button>
  </div>
  <% end %>
</p>
</div>

<div class="row">

  <% if session[:user_id] != nil %>
    <div class="col-sm-5 offset-sm-1">
  <% else %>
    <div class="col-sm-6 offset-sm-3">
  <% end %>

  <div class="collapse multi-collapse" id="multiCollapseArtist">
    <div class="card card-body">
      <% if @vinyl.artist.present? %>
        <ul>
          <% @vinyl.artist.vinyls.each do |vinyl| %>
          <li><%= link_to vinyl.title, "/vinyls/#{vinyl.id}" %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  </div>

  <% if session[:user_id] != nil %>
  <div class="col-sm-5">
  <div class="collapse multi-collapse" id="multiCollapseCollection">
    <div class="card card-body">
      <% @user = User.find_by(:id => session[:user_id]) %>

      <ul>
        <% @collections.each do |collection| %>
          <% if collection.vinyls.find_by(:id => @vinyl.id) %>
            <li><%= link_to collection.name, "/collections/#{collection.id}" %></li>
          <% end %>
        <% end %>
      </ul>

    </div>
  </div>
  </div>
  <% end %>

</div>

<br>

