<%= stylesheet_link_tag 'vinyl_index' %>

<br><% vinyl = Vinyl.find_by(id: params["id"]) %>

<h1 class="text-center">Vinyls</h1>

<br>

<div class="row">

  <div class="col-sm-3 offset-sm-1">
    <%= image_tag vinyl.image_url, :class => "img-fluid" %>
  </div>

  <div class="col-sm-6">
    <h2><%= vinyl.title %> (<%= vinyl.year %>)</h2>
    <% if vinyl.artist.present? %>
      <h3 class="text-muted">
        <%= link_to vinyl.artist.name, "/artists/#{vinyl.artist.id}" %></h3>
      <h5 class="text-muted">
        <% if vinyl.runtime.present? %>
        <%= "Runtime: #{vinyl.runtime} min" %>
        <% end %>
      </h5>
    <% end %>

    <% if session[:user_id] != nil %>
      <% @user = User.find_by(:id => session[:user_id]) %>

      <br>
      <p>This record is in these collections:</p>

      <ul>
        <% @user.collections.order('name').each do |collection| %>
            <% if collection.vinyls.find_by(:id => vinyl.id) %>
              <li><%= link_to collection.name, "/collections/#{collection.id}" %></li>
            <% end %>
        <% end %>
      </ul>
    <% end %>


  </div>
</div>

<br>

<div class="row">

  <div class="col-sm-6 offset-sm-1">
    <% if vinyl.artist.present? %>
      <p>Recordings by this artist:</p>

      <ul>
        <% vinyl.artist.vinyls.each do |vinyl| %>
          <li><%= link_to vinyl.title, "/vinyl/#{vinyl.id}" %></li>
        <% end %>
      </ul>

    <% end %>
  </div>
</div>
